<div class="container">
  <app-writer></app-writer>
  <br />
  <br />
  <app-reader></app-reader>
</div>
<!-- <button [routerLink]="['/reader']">Reader</button>
<button [routerLink]="['/writer']">Writer</button> -->
<!-- <router-outlet></router-outlet> -->

<!-- <p>
  Dependency - 
  Dependency Injection  - 
  IOC - Inversion of Control - 
  Loose coupling or tight coupling - 
  singelton application - 
  provider or providerIn - if mention root in "providerIn", then it provides services throughout the project.
  SOLID principle
  Design pattern - factory design pattern
  Publisher (Observable) - provide services, which will be consumed by subscriber
  Subscriber (Observer) - subscribe publisher services and get data
  Behaviour Subject vs Subject
</p> -->
